<div class="pure-g topbar">
        <div class="pure-u-1 pure-u-md-1-5 homelink"><img class="arrow" src="/img/arrow.png"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
        <div class="pure-u-1 pure-u-md-4-5">
            <div class="pure-u-1 pure-u-md-1-12 topbar-menu"><a href="/post/">posts</a></div>
            <div class="pure-u-1 pure-u-md-1-12 topbar-menu"><a href="/project/">projects</a></div>
            <div class="pure-u-1 pure-u-md-1-12 topbar-menu"><a href="/about/">about</a></div>
        </div>
    </div>
</div>